{% extends 'WedBundle::base.html.twig' %}

{% block pageHeading %}Packages{% endblock %}
{% block subheading %}Create a new Package{% endblock %}

{% block content -%} <!-- Main content -->

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('packages') }}">
            Back to the list
        </a>
    </li>
</ul>


    </script>
{% endblock %}

{% block js %}

<script type="text/javascript">

$(function () {
    //bootstrap WYSIHTML5 - text editor
    $(".textarea").wysihtml5();
});

{% endblock %}
