{% extends 'WedBundle::base.html.twig' %}

{% block pageHeading %}Shoots{% endblock %}
{% block subheading %}{% endblock %}

{% block content %} <!-- Main content -->
    <h1>Mailbox creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('mailbox') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
